{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block main %}
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <th scope="row">{{ row.symbol }}</th>
      <td>{{ row.shares }}</td>
      <td>{{ row.price }}</td>
      <td> {{ row.transacted }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
